<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="086be3c8-952a-4a40-8185-99723930ebf0" Alias="articleList" Level="1">
  <Info>
    <Name>Article List</Name>
    <Icon>icon-thumbnail-list color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="684412bb-aa7c-464e-a9db-bb673c245850">latestArticlesControls</Composition>
      <Composition Key="2cc556a5-1a72-46b9-90b5-82300c16fcb9">metaDataControls</Composition>
      <Composition Key="f63fe71f-5351-438f-b666-07c852f77d85">navigationControls</Composition>
      <Composition Key="31a57bce-83be-482b-88fc-801f2a6fbb85">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>ArticleList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6f2f398b-f902-44b7-a49e-d1a9815ebce8">ArticleList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="aef42abb-f883-4942-9665-f170f281ea44">article</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>