<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aef42abb-f883-4942-9665-f170f281ea44" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-newspaper-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="832ea2c3-fb41-4ae5-a441-8557c1689a90">articleControls</Composition>
      <Composition Key="349e2061-6e60-4e27-a270-d9b164b38c79">contentControls</Composition>
      <Composition Key="2cc556a5-1a72-46b9-90b5-82300c16fcb9">metaDataControls</Composition>
      <Composition Key="f63fe71f-5351-438f-b666-07c852f77d85">navigationControls</Composition>
      <Composition Key="31a57bce-83be-482b-88fc-801f2a6fbb85">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="40101cd6-6dae-47d5-894f-da09499ffbc8">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>