<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5d06b90-e963-4305-9f3c-90ac3833179a" Alias="carouselControls" Level="2">
  <Info>
    <Name>Carousel Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f21dbb20-54f5-4a33-ba06-c9fb59e94ff7</Key>
      <Name>Main Carousel</Name>
      <Alias>mainCarousel</Alias>
      <Definition>450f3d88-3185-498d-8ee3-6e8a0ec09d50</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the items for the carousel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Header</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>