<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="08c44768-447a-465a-97aa-32e029f9e8f1" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="349e2061-6e60-4e27-a270-d9b164b38c79">contentControls</Composition>
      <Composition Key="2cc556a5-1a72-46b9-90b5-82300c16fcb9">metaDataControls</Composition>
      <Composition Key="f63fe71f-5351-438f-b666-07c852f77d85">navigationControls</Composition>
      <Composition Key="31a57bce-83be-482b-88fc-801f2a6fbb85">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8420049a-9bcc-492f-be1b-08f8a0ed43a1">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>