<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="55a66de3-517b-46de-834c-635903c55462" Alias="contact" Level="1">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-message color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="2cc556a5-1a72-46b9-90b5-82300c16fcb9">metaDataControls</Composition>
      <Composition Key="f63fe71f-5351-438f-b666-07c852f77d85">navigationControls</Composition>
      <Composition Key="31a57bce-83be-482b-88fc-801f2a6fbb85">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="025eef17-933b-4f63-8154-11e80d240f95">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>