<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="85546740-dea7-48ae-8220-802fbbefd335" Alias="prettyLink" Level="1">
  <Info>
    <Name>Pretty Link</Name>
    <Icon>icon-link color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="f63fe71f-5351-438f-b666-07c852f77d85">navigationControls</Composition>
      <Composition Key="53706f2f-068e-4b30-a69a-4fe0fe990776">prettyLinkControls</Composition>
      <Composition Key="31a57bce-83be-482b-88fc-801f2a6fbb85">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>PrettyLink</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ac9f83d8-20fb-418a-bbfa-9e99c9770c5d">PrettyLink</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="85546740-dea7-48ae-8220-802fbbefd335">prettyLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>