<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3dc8a93c-5fe9-4b19-b6fe-1c47797bfaef" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="2cc556a5-1a72-46b9-90b5-82300c16fcb9">metaDataControls</Composition>
      <Composition Key="f63fe71f-5351-438f-b666-07c852f77d85">navigationControls</Composition>
      <Composition Key="31a57bce-83be-482b-88fc-801f2a6fbb85">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e8fa3121-6e7a-4aed-8e5f-7c9cfb922a1e">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>