<?xml version="1.0" encoding="utf-8"?>
<DataType Key="450f3d88-3185-498d-8ee3-6e8a0ec09d50" Alias="Main Carousel" Level="1">
  <Info>
    <Name>Main Carousel</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "carouselSlide",
      "ncTabAlias": "Content",
      "nameTemplate": "{{slideTitle}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 10,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>