@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "master.cshtml";
}

@* the fun starts here *@

<!-- HERO AREA -->
        <section class="l-hero">
            <div class="l-hero--overley"></div>
            <div class="l-hero--cover">
                <div class="hero-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="hero-content--text">
                                    <h1>
                                        Taranaki Home Expo
                                    </h1>
                                    <p>Turn your home and lifestyle dreams into reality!</p>
                                    <p>13 - 15 April 2019 At TSB Stadium</p>
                                    <div class="l-v-padding">
                                        <a class="btn" href="visiting.html">
                                            Get Ready
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="js-countdown counter text-center">
                                    <ul id="countdown_dashboard">
                                        <li>
                                            <div class="dash days_dash">
                                                <div class="digit"><div class="js-countdown-days bottom" style="display: block;"></div></div>
                                                <span class="dash_title">Days</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dash hours_dash">
                                                <div class="digit"><div class="js-countdown-hours bottom" style="display: block;"></div></div>
                                                <span class="dash_title">Hours</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dash minutes_dash">
                                                <div class="digit"><div class="js-countdown-minutes bottom" style="display: block;"></div></div>
                                                <span class="dash_title">Minutes</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dash seconds_dash">
                                                <div class="digit"><div class="js-countdown-seconds bottom" style="display: block;"></div></div>
                                                <span class="dash_title">Seconds</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Intro -->
        <section class="l-intro l-section">
            <div class="container">             
                <div class="main-intro">
                    <h2 class="main-intro--title">Turn your <strong>home and lifestyle</strong> dreams into reality!</h2>
                    <p>Whether you are renovating or buying, landscaping or decorating,  furnishing or building this is the show that will put you in front of  the experts.  With over 100 products and services in one location, over  one weekend – the expo is your one stop shop for turning your home and  lifestyle dreams into reality!</p>
                    <p>Compare the products and services on offer and take advantage of some  amazing show only specials. </p>
                    <p>Keep an eye out on this website, subscribe to our newsletter and like us on Facebook to receive all up-to-date expo information for your visit.﻿</p>
                </div>                
            </div>
        </section>

        <section class="l-block l-section">
            <div class="container">
                <div class="block">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="block-item">
                                <i class="block-icon fas fa-calendar-alt"></i>
                                <h3>Expo Dates</h3>
                                <p>12 April - 14 April</p>
                                <p>Friday and Saturday: 10am - 5om</p>
                                <p>Sunday: 10am - 5om</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="block-item">
                                <i class="block-icon fas fa-ticket-alt"></i>
                                <h3>Entry Fee</h3>
                                <p>Adults: $10 per person</p>
                                <p>Gold card holders: $5 per person</p>
                                <p>Children under 16: Free</p>
                                <!--<p>Two for one entry on Friday</p>
                            <q>*Service fees included, credit card fees apply*</q>-->
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="block-item">
                                <i class="block-icon fas fa-location-arrow"></i>
                                <h3>Location</h3>
                                <p>TSB Stadium</p>
                                <p>Mason Drive, New Plymouth</p>
                                <!-- Link to Google Map with default destination of TSB Stadium -->
                                <a href="javacsript:;">How to get there ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="banner banner-m-newsletter">
            <a class="banner-link" href="javascriptL:;">Stay Informed</a>
            <p>Subscribe  to our newsletter and keep up to date with all the latest Expo News.</p>
        </div>

        <!-- Sponsor Section -->
        <section class="l-section">
            <div class="container">
                <div class="sponsor">
                    <h2 class="sponsor-heading">Thank you to our sponsors</h2>
                    <div class="sponsor-logo">
                        <div class="sponsor-logo--item">
                            <img class="sponsor-logo--img" src="content/logo/stuff.png" alt="Stuff Logo" />
                        </div>
                        <div class="sponsor-logo--item">
                            <img class="sponsor-logo--img" src="content/logo/morefm.jpg" alt="MoreFM Logo" />
                        </div>
                        <div class="sponsor-logo--item">
                            <img class="sponsor-logo--img" src="content/logo/resene-logo.png" alt="Resene Logo" />
                        </div>
                    </div>
                </div>
            </div>
        </section>